* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3B3B3B;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    line-height: 100%;
    letter-spacing: 0%;
    min-height: 100vh;
}

#root {
    padding: 10px;
}
input, button, select, textarea {
  font-family: inherit;
}